html {
    font-size: 62.5%;
}

body {
    color: #333;
    font-family: 'dosis';
}

.header {
    font-family: 'hind-font';
    background: #0d7619;
    font-size: 1.6rem;
    text-decoration: none;
    display: flex;
}

.header nav {
    margin-left: auto;
    margin-right: 2rem;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu-menu-principal-container ul {
    list-style-type: none;
    right: 0;
    display: flex;
}

.menu-menu-principal-container .menu-item {
    margin: 2.5rem 1rem 0rem;
}

.section-1 {
    background-image: url(../img/banniere.jpg);
    background-position: center;
    min-height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-title {
    color: black;
    font-size: 1.5rem;
}

.section-txt1 {
    color: black;
    text-transform: uppercase;
    font-size: 2.3rem;
    margin: 1rem;
    font-weight: 500;
}

.section-txt2 {
    color: #9acf64;
    text-transform: uppercase;
    font-size: 2.3rem;
    margin: 1rem;
    font-weight: 500;
}

.inscription-button {
    color: #fff;
    text-transform: uppercase;
    background-color: #395e1d;
    border: 1px solid #395e1d;
    border-radius: 2rem;
    display: inline-block;
    padding: 0.8rem 1rem 0.8rem 1rem;
}

.section-1 p {
    text-align: center;
    line-height: normal;
}

.section-2 {
    min-height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#letter-spacing {
    letter-spacing: 0.5rem;
    border-bottom: black 1px solid;
    display: inline-block;
}

#section2txt {
    padding: 1.2rem 10rem 1.2rem 10rem;
    width: 57rem;
    height: auto;
    line-height: 3rem;
    letter-spacing: 0.1rem;
}

.section-3 {
    background-image: url(../img/bandeau.jpg);
    background-position: center;
    min-height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-4 {
    min-height: 40rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-4-programme {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.green-title {
    color: #395e1d;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.section-4-leftpart,
.section-4-rightpart {
    width: 50%;
    margin: 2rem 7rem 0rem;
    min-height: 173px;
}

.section-4-leftpart ul,
.section-4-rightpart ul {
    list-style-type: none;
    text-align: left;
    padding: 0rem;
    margin: 0rem;
}

.section-4-leftpart li,
.section-4-rightpart li {
    padding: 1rem 0rem 0rem;
}

.section-4 .no-space {
    padding: 0rem;
    margin: 0rem;
}

.plus {
    position: absolute;
    display: flex;
    justify-content: space-around;
}

.plus .inscription-button {
    position: absolute;
}

#img-programme {
    width: 20%;
    height: 20%;
    padding: 0rem 10rem 0rem 60rem;
}

.section-5 .orateur-img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-image: url(../img/portrait.jpg);
}

.section-5,
.section-6 h6 {
    text-align: center;
}

.section-5 li {
    list-style-type: none;
    width: 130px;
    text-align: center;
    margin: 40px;
}

.section-5 ul {
    display: flex;
}

.section-5 #nom {
    font-weight: bold;
    color: #0d7619;
    font-size: 1.7rem;
    margin: 9px 0px -10px 0px;
}

.section-5 #info {
    color: lightgray;
    font-weight: bold;
    font-size: 1.3rem;
}

.section-5 a {
    color: #fff;
    text-transform: uppercase;
    padding: 0px 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.section-5 .bouton_orateur {
    background-color: #9ACF64;
    border-radius: 40px;
    width: auto;
}

footer {
    color: #fff;
    background-color: #333333;
    height: 100px;
    font-size: 1.5rem;
}

.footer {
    padding: 30px 0px 30px 30px;
    display: flex;
    text-align: center;
}

.footer p {
    margin: 10px;
}
